<!DOCTYPE html>
<html lang="en">
<head>
	<title>PupMate</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/normalize.css" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=McLaren|Raleway" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome-4.2.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/assets/css/text-input.css" type="text/css"/>
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script type="text/javascript" src="/assets/js/puppers.js"></script>
</head>
<body>
	{{{ body }}}
</body>
</html>