<h1>PupMate!</h1>

<h2 id="tagline">Find your puppy a playmate!</h2>

{{!-- <ul>
    {{#each puppers}}
        <li>
            {{name}}
        </li>
    {{/each}}
</ul> --}}


{{!-- Add Puppy to List --}}
	
<form class="create-form">
	<h2>Create your puppy 	profile!</h2>
	<div class="form-group">
	  <label for="name">Name</label>
	  <input type="text" class="form-control" id="name" placeholder="Zoe">
	</div>
	<div class="form-group">
	  <label for="breed">Breed</label>
	  <input type="text" class="form-control" id="breed" placeholder="Husky/Lab">
	</div>
	<div class="form-group">
	  <label for="city">City</label>
	  <input type="text" class="form-control" id="city" placeholder="San Francisco">
	</div>
	<div class="form-group">
	  <label for="state">State</label>
	  <input type="text" class="form-control" id="state" placeholder="California">
	</div>
	<div class="form-group">
	    <label for="age">Age</label>
	    <select class="form-control" id="age">
	      <option></option>
	      <option><1</option>
	      <option>1</option>
	      <option>2</option>
	      <option>3</option>
	      <option>4</option>
	      <option>5</option>
	      <option>6</option>
	      <option>7</option>
	      <option>8</option>
	      <option>9</option>
	      <option>10+</option >
	    </select>
	</div>
	<div class="form-group">
	    <label for="size">Size</label>
	    <select class="form-control" id="size">
	      <option></option>
	      <option>XS</option>
	      <option>S</option>
	      <option>M</option>
	      <option>L</option>
	      <option>XL</option>
	    </select>
	</div>
	<div class="form-group">
	    <label for="gender">Gender</label>
	    <select class="form-control" id="gender">
	      <option></option>
	      <option>Female</option>
	      <option>Male</option>
	    </select>
	</div>
	<div class="form-group">
	    <label for="neutered">Neutered/	Spayed</label>
	    <select class="form-control" id="neutered">
	      <option></option>
	      <option>Yes</option>
	      <option>No</option>
	    </select>
	</div>
    <div class="form-group">
        <label for="photo">Add a Photo (Optional)</label>
        <input type="file" 	class="form-control-file" id="photo">
    </div>
    <button type="submit" class="btn 	btn-primary">Submit</button>
</form>