<nav class="navbar">
	<a class="navbar-brand navbar-title" href="#">
	    <img id="icon" src="/assets/images/icon.svg"class="d-inline-block align-top" alt="icon">
	    PupMate!
	</a>
	<ul class="nav justify-content-end">
		<input class="searchbar" type="search" placeholder="Search..">
		<li class="nav-item">
 		  <a class="nav-link smallfont" href="/signup">Sign Up</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link smallfont" href="/login">Login</a>
		</li>
	</ul>
</nav>