<div id="signup-container">
	<section id="signup-left-image">
	</section>
	<section id="signup-right-form">
		<section class="signup-content bgcolor-4">
			<h2 id="sign-up-title">Sign up for PupDate <img id="icon" src="/assets/images/icon.svg" class="d-inline-block align-top" alt="icon"></h2>
			<form name="signup" id="signup" method="post" action="/signup" class="needs-validation" novalidate>
				<span class="input input--isao">
					<input class="input__field input__field--isao" type="text" id="fullname" required/>
					<label class="input__label input__label--isao" for="fullname" data-content="Full Name">
						<span class="input__label-content input__label-content--isao">Full Name</span>
					</label>
				</span>
				<span class="input input--isao">
					<input class="input__field input__field--isao" type="text" id="password" required/>
					<label class="input__label input__label--isao" for="password" data-content="Password">
						<span class="input__label-content input__label-content--isao">Password</span>
					</label>
				</span>
				<span class="input input--isao">
					<input class="input__field input__field--isao" type="text" id="email" required/>
					<label class="input__label input__label--isao" for="email" data-content="Email">
						<span class="input__label-content input__label-content--isao">Email</span>
					</label>
				</span>
				<div class="signup-buttons">
					<button class="button" type="submit">Sign Up!</button>
					<hr>
					<p id="p-signin">Already a member? <a href="/login">Click here to Log In</a></p>
				</div>
			</form>
		</section>
	</section>
</div>