html, body {
	margin: 0;
	padding: 0;
	border: 0;
}


.col {
	padding: 0;
}

.frontpage-container {
	height: 100%;
}
#background-image {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
/*	position: absolute;
	z-index: -1;*/
	width:80%;
	height: 100%;
	margin: 0px 50px 0px;
	padding: 0;
}

.create-form {
	width: 100%;
	margin: 25px auto;
	padding: 10px 30px 20px 30px;
}

.navbar-brand {
	font-family: 'McLaren', cursive;
	font-size: 30px;
}

#tagline {
	margin: 0 auto;
	text-align: center;
}

h2 {
	font-family: 'McLaren', cursive;
	font-size: 25px;
}

.puppyList {
	margin: 10px auto;
}

.pupheader {
	margin-bottom: 35px;
}

ul {
	margin-left: 10px;
}

li {
	margin: 5px;
}

img {
	height: 85%;
	width:100%;
	margin-top: 10px;
	padding-right: 10px;
}

p.info {
	margin: 0;
}

.card-body {
	margin-top: 10px;
	padding: 10px 0px 10px 20px;
}
/*-------------navigation bar-----------*/
.navbar {
	background-color: #da7071;
	overflow: auto;
}

.navbar-small {
	height: 5%;
	background-color: #da7071;
	overflow: auto;
	text-align: center
}



.nav-link, .navbar-title {
	color: white;
	font-family: 'Raleway', sans-serif;
}

.navbar-title {
	font-weight: bolder;
	font-weight: 400px;
	font-size: 45px;
}

#icon {
	width: 45px;
	height: 60px;
	margin: 0px;
	padding: 0px;
	color: white;
}

.navbar-brand {
	padding: 0px;
}

.smallfont {
	font-size: 15px;
}

.search-container {
	margin: auto;
	width: 76%;
	padding: 10px;
	overflow: auto;

}

.search-container input[type=search] {
	border-radius: 1.5rem;
    padding: 6px;
    border: 1px solid rgba(0,0,0,.125);
    font-size: 17px;
    width: 96%;
	margin: auto;
	text-align: center;
}

.small-icon {
	width: 45px;
	height: 60px;
	margin: 0px;
	padding: 0px;
	color: white;
}

.navbar-smalltitle {
	font-size: 30px;
	color: white;
	font-family: 'Raleway', sans-serif;
}


/* -------------Kyo--------------- */
.input--kyo {
	z-index: auto;
}

.input__field--kyo {
	padding: 0.85em 1.5em;
	width: 100%;
	border-radius: 2em;
	background: #fff;
	color: #535d92;
}

.input__label--kyo {
	z-index: 0;
	padding: 0 0 0 2em;
	width: 100%;
	text-align: left;
}

/*.input__label--kyo::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background: rgba(11, 43, 205, 0.6);
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	pointer-events: none;
}*/

.input__label-content--kyo {
	padding: 0.5em 0;
}

.input__field--kyo:focus,
.input__field--kyo:focus +  .input__label--kyo .input__label-content--kyo {
	z-index: 10000;
}

.input__field--kyo:focus + .input__label--kyo {
	color: #fff;
}

.input__field--kyo:focus + .input__label--kyo::after {
	opacity: 1;
}

/*----------sign up page-----------*/

.signup-container {
	overflow: auto;
}

.signup-left {
    width: 50%;
    float:left;
	overflow:hidden;
    position: relative;
	min-height: 100vh;
	text-align: center;
	vertical-align: middle;
	background-color: #fff;
}

.signup-image, #login-image {
	height: 50vh;
    width: 65%;
	background-image: url(../images/pup_signup.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
	justify-content: center;
	border-radius: 50%;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
	background-color: white;
}

#login-image {
	background-image: url(../images/puppy-login.jpeg);
}

.signup-right-form {
    width: 50%;
    position: relative;
    float: right;
    padding: 45px 60px 100px 60px;
    height: 100vh;
	background: #fff;
}

.signup-content {
	font-size: 100%;
}

#sign-up-title, #login-title {
	color: black;
	font-size:2rem;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: bolder
}

#signup {
	margin-top: 25px;
}

.button {
	border-radius: .5rem;
	font-family: 'Raleway', sans-serif;
	background: #da7071;
	color: white;
	margin: 0 auto;
	padding: 10px 50px;
	text-align: center;
	display: block;
}

#p-signin {
	font-size: 11px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.results-container {
	margin: 10px auto;
	overflow: hidden;
}

.col-4 {
    margin-left: 8%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    margin-left: 2.5%;
}

.col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
	max-width: 41.666667%;
	padding: 0;
}

.card, section {
	position: relative;
    margin-left: auto;
    margin-right: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-img-top, .card-img {
    width: 90%;
    border-radius: calc(.25rem - 1px);
    padding: 0;
    display: block;
    margin-left: auto;
	margin-right: auto;
}

.rescard-body {
	margin: 11px;
	padding: 0;
}

.card-title {
	text-align: center;
	font-size: 20px;
	font-weight:bolder;
}

h5.card-title {
	text-align: left;
}

section {
	height: 70vh;
	padding:10px;
	background-color:#da7071;
}